<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TP Navigator: CSIS</title>
        <script>
          function showHideRow(row) {
              $("#" + row).toggle();
          }
        </script>
        <script>
          function showAlert(event) {
              // Prevents the default form submission
              event.preventDefault();
              alert('Form submitted!');
          }
        </script>

    </head>

<body>
<form>
<fieldset>
  <div id="search-display">
    <table font-size="smaller" class="input-table">
      <tr>
      <th>Select</th>
      <th>Merge</th>
      <th>CSIS Number</th>
      <th>Alert</th>
      <th>First</th>
      <th>Middle</th>
      <th>Last Name</th>
      <th>SS#</th>
      <th>DOB</th>
      <th>1st CTID</th>
      <th>Last CTID</th>
      <th>CTID Count</th>
      <th>Last Intake</th>
      <th>Last ROI</th>
      <th>Last Bike</th>
      <th>Bike Repair Count</th>
      <th>Bike Info</th>
      <th>Last Navigator Contact</th>
      <th>Last Navigator</th>
      <th>Last Backpack</th>
      <th>ROI PDF</th>
      <th>Photo</th>
      </tr>
      {% for csis_download in csis_downloads %}
      <tr>
        <td><input type="radio" id="select" name="select" value="{{csis_download.csis_number}}"></td>
        <td><input type="checkbox" id="merge" name="merge" value="{{csis_download.csis_number}}"></td>
        <td>{{csis_download.csis_number}}</td>
        <td>{{csis_download.csis_alert}}</td>
        <td>{{csis_download.csis_firstname}}</td>
        <td>{{csis_download.csis_middlename}}</td>
        <td>{{csis_download.csis_lastname}}</td>
        <td>{{csis_download.csis_ssno_last4}}</td>
        <td>{{csis_download.csis_dob}}</td>
        <td>{{csis_download.ctid_first}}</td>
        <td>{{csis_download.ctid_last}}</td>
        <td>{{csis_download.ctid_count}}</td>
        <td>{{csis_download.last_intake_date}}</td>
        <td>{{csis_download.last_roi_date}}</td>
        <td>{{csis_download.last_bike_date}}</td>
        <td>{{csis_download.bike_repair_count}}</td>
        <td>{{csis_download.last_bike_comments}}</td>
        <td>{{csis_download.last_navigator_date}}</td>
        <td>{{csis_download.last_navigator_id}}</td>
        <td>{{csis_download.last_backpack_date}}</td>
        <td>{{csis_download.bus_pass_count}}</td>
        <td>{{csis_download.roi_pdf_path}}</td>
        <td>{{csis_download.photo_path}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
    <br>
</fieldset>

<div>
  <p>
  <button type="submit" id="csis-submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-primary" type="reset">Reset</button>
</p>
</div>

</form>

</body>
