{% extends "tplayout.html" %}

{% block title %}
    Intake2
{% endblock %}

{% block main %}

<div id="collect" class="survey-container">
  {% for client in clients %}
    {% if loop.first %}
      <form name="intake2" id="intake2" class="login-form" action="/intake2" method="post" >
        <h2 class="display-6">Welcome Worksheet</h2>
        <br>
          <fieldset>
            <legend>Contact Information</legend>
            <table class="input-table">

              <tr>
                <td><label class="form-label" for="date">Date</label></td>
                <td><label class="form-label" for="csis_number">CSIS No: </label></td>
                <td><label class="form-label" for="csis_alert">Alert: </label></td>
              </tr>
              <tr>
                <td><input type="date" id="date" name="date"></td>
                <td>{{ csis_number }}</td>
                <td>{{ csis_alert }}</td>
              </tr>
              <tr>
                <td><label class="form-label" for="firstname">First Name</label></td>
                <td><label class="form-label" for="middlename">Middle Name</label></td>
                <td colspan="3"><label class="form-label" for="lastname">Last Name</label></td>
              </tr>
              <tr>
                <td><input type="text" id="firstname" name="firstname" class="form-control value="{{ client.firstname }}></td>
                <td><input type="text" id="middlename" name="middlename" class="form-control" ></td>
                <td colspan="3"><input type="text" id="lastname" name="lastname" class="form-control"></td>
              </tr>

              <tr>
                <td><label class="form-label" for="DOB">Date of Birth</label></td>
                <td><label class="form-label" for="SSN">Social Security Number</label></td>
              </tr>
              <tr>
                <td><input type="date" id="DOB" name="DOB" class="form-control" value="{{ client.dob }}">{{ client.dob }}</td>
                <td><input type="text" id="SSN" name="SSN" class="form-control" value="{{ client.ssn }}" pattern="\d{3}-?\d{2}-?\d{4}">{{ client.ssn }}</td>
              </tr>
              <tr><td>&nbsp</td></tr>
              </table>
              </fieldset>



              <fieldset>
                <table class="input-table">
                  <tr>
                    <td colspan="3"><label class="form-label" for="client_email">email</label></td>
                  </tr>
                  <tr>
                <td colspan="3"><input type="email" id="client_email" name="client_email" class="form-control" value="{{ client.email }}">{{ client.email }}</td>
              </tr>

              <tr>
                <td><label class="form-label" for="cell">Cell Phone Number</label></td>
                <td><label class="form-label" for="home">Home Phone Number</label></td>
                <td>&nbsp</td>
              </tr>
              <tr>
                <td><input type="tel" id="cell" name="cell" class="form-control" value="{{ client.phone }}">{{ client.phone }}</td>
                <td><input type="tel" id="home" name="home" class="form-control" value="{{ client.emergency_phone }}">{{ client.emergency_phone }}</td>
                <td>&nbsp</td>
              </tr>

              <tr>
                <td colspan="5"><label class="form-label" for="address1">Address Line 1</label></td>
              </tr>
              <tr>
                <td colspan="5"><input type="text" id="address1" name="address1" class="form-control" value="{{ client.client_location_addr1 }}">{{ client.client_location_addr1 }}</td>
              </tr>
              <tr>
                <td colspan="5"><label class="form-label" for="address2">Address Line 2</label></td>
              </tr>
              <tr>
                <td colspan="5"><input type="text" id="address2" name="address2" class="form-control" value="{{ client.firstname }}">{{ client.firstname }}</td>
              </tr>
              <tr>
                <td><label class="form-label" for="city">City</label></td>
                <td><label class="form-label" for="state">State</label></td>
                <td><label class="form-label" for="zip">ZIP code</label></td>
                <td><label class="form-label" for="county">County</label></td>
              </tr>
              <tr>
                <td ><input type="text" id="city" name="city" class="form-control"></td>
                <td >
                  <select size="1" class="form-control mx-auto"
                  id="state" name="state" type="number" required>
                      {% for state in states %}
                        {% if state.code == client.client_location_state %}
                          <option value="{{ client.client_location_state }}" selected>{{ client.client_location_state }}</option>
                        {% else %}
                          <option value="{{ state.code }}">{{ state.code }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </td>
                <td ><input type="text" id="zip" name="zip" class="form-control" value="{{ client.client_location_state }}">{{ client.client_location_state }}</td>
                <td ><input type="text" id="county" name="county" class="form-control"></td>
              </tr>

            </table>
            </fieldset>
            <hr>
            <fieldset>
              <legend>Emergency Contact</legend>
              <table class="input-table">
                <tr><td>&nbsp</td></tr>
                <tr>
                  <td>&nbsp</td>
                  <td colspan="2"><label class="form-label" for="emergencyname">Name</label></td>
                  <td><label class="form-label" for="emergencyphone">Phone</label></td>
                </tr>
                <tr>
                  <td>Emergency Contact</td>
                  <td colspan="2"><input type="text" id="emergencyname" name="emergencyname" class="form-control" value="{{ client.emergency_name }}">{{ client.emergency_name }}</td>
                  <td><input type="tel" id="emergencyphone" name="emergencyphone" class="form-control" value="{{ client.emergency_phone }}">{{ client.emergency_phone }}</td>
                </tr>

                <tr>
                  <td>&nbsp</td>
                  <td><label class="form-label" for="emergencyaddress">Address</label></td>
                </tr>
                <tr>
                <td>Emergency Contact Address if no phone</td>
                <td colspan="4"><input type="text" id="emergencyaddress" name="emergencyaddress" class="form-control" value="{{ client.emergency_phone }}">{{ client.emergency_phone }}</td>
              </tr>
              <tr><td>&nbsp</td></tr>

              </table>
              </fieldset>
              <hr>

              <fieldset>
                <legend>Medical Conditions</legend>
                <table class="input-table">
                  {% for medical_condition in medical_conditions %}
                      {% if loop.last %}
                        {% for index in range(client.medical_conditions | length) %}
                          {% if medical_condition.condition == client.medical_conditions[index] %}
                            <tr>
                              <td><input type="checkbox" id="{{ medical_condition.condition }}" name="medical_condition" value="{{ client.medical_condition }}"></td>
                              <td><label for="{{ medical_condition.condition }}">{{ medical_condition.condition }}</label></td>
                              <td><input type="text" id="othermedtext" name="othermedtext" value="{{ client.medical_condition }}">{{ client.medical_condition }}</td>
                              <td><label for="othermedtext">if other, please state</label></td>
                            </tr>
                          {% else %}
                            <tr>
                              <td><input type="checkbox" id="{{ medical_condition.condition }}" name="medical_condition" value="{{ medical_condition.condition }}"></td>
                              <td><label for="{{ medical_condition.condition }}">{{ medical_condition.condition }}</label></td>
                              <td><input type="text" id="othermedtext" name="othermedtext"></td>
                              <td><label for="othermedtext">if other, please state</label></td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for index in range(client.medical_conditions | length) %}
                          {% if medical_condition.condition == client.medical_conditions[index] %}
                            <tr>
                              <td><input type="checkbox" id="{{ medical_condition.condition}}" name="medical_condition" value="{{ client.medical_condition }}"></td>
                              <td><label for="{{ medical_condition.condition}}">{{ client.medical_condition }}</label></td>
                            </tr>
                          {% else %}
                            <tr>
                              <td><input type="checkbox" id="{{ medical_condition.condition}}" name="medical_condition" value="{{ medical_condition.condition }}"></td>
                              <td><label for="{{ medical_condition.condition}}">{{ medical_condition.condition}}</label></td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                  {% endfor %}

                  <tr><td>&nbsp</td></tr>
                </table>
              </fieldset>
              <hr>

              <fieldset>
                <legend>Are you a veteran?</legend>
                <table class="input-table">
                  <tr><th>Veteran Status</th><div class="radio-block">
                    <td><label for="veteranYes">
                    <input type="radio" id="veteranYes" name="veteran" value="{{ client.veteran }}" required>
                    yes</label></td>
                    <td><label for="veteranNo">
                    <input type="radio" id="veteranNo" name="veteran" value="no" required>
                    no</label></td>
                    <td><label for="DD214">
                      <input type="checkbox" id="DD214" name="DD214" value="{{ client.dd214 }}">
                      DD214</label></td>
                  </tr>
                  </table>
              </fieldset>
                <hr>

                <fieldset>
                  <legend>Race and Ethnicity</legend>
                  <table class="input-table">
                    {% for race_ethnicity in race_ethnicities %}
                      {% if loop.last %}
                        {% for index in range(client.race_ethnicity | length) %}
                          {% if race_ethnicity.race_ethnicity == client.race_ethnicity[index] %}
                            <tr>
                              <td><input type="checkbox" id="{{ race_ethnicity.race_ethnicity }}" name="race_ethnicity" value="{{ client.race_ethnicity }}"></td>
                              <td><label for="{{ race_ethnicity.race_ethnicity }}">{{ race_ethnicity.race_ethnicity }}</label></td>
                              <td><input type="text" id="race_othertext" name="race_othertext" value="{{ client.race_ethnicity }}">{{ client.race_ethnicity }}</td>
                              <td><label for="race_othertext">if other, please state</label></td>
                            </tr>
                          {% else %}
                            <tr>
                              <td><input type="checkbox" id="{{ race_ethnicity.race_ethnicity }}" name="race_ethnicity" value="{{ race_ethnicity.race_ethnicity }}"></td>
                              <td><label for="{{ race_ethnicity.race_ethnicity }}">{{ race_ethnicity.race_ethnicity }}</label></td>
                              <td><input type="text" id="race_othertext" name="race_othertext"></td>
                              <td><label for="race_othertext">if other, please state</label></td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for index in range(client.race_ethnicity | length) %}
                          {% if race_ethnicity.race_ethnicity == client.race_ethnicity[index] %}
                            <tr>
                              <td><input type="checkbox" id="{{ race_ethnicity.race_ethnicity }}" name="race_thnicity" value="{{ client.race_ethnicity }}"></td>
                              <td><label for="{{ race_ethnicity.race_ethnicity }}">{{ race_ethnicity.race_ethnicity }}</label></td>
                            </tr>
                          {% else %}
                            <tr>
                              <td><input type="checkbox" id="{{ race_ethnicity.race_ethnicity }}" name="race_ethnicity" value="{{ race_ethnicity.race_ethnicity }}"></td>
                              <td><label for="{{ race_ethnicity.race_ethnicity }}">{{ race_ethnicity.race_ethnicity }}</label></td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}

                    <tr><td>&nbsp</td></tr>
                  </table>
                </fieldset>
                <hr>

                <fieldset>
                  <legend>Gender Identity</legend>
                  <table class="input-table">
                    {% for gender in genders %}
                      {% if loop.last %}
                        {% if gender.gender == client.gender %}
                          <tr>
                            <td><input type="checkbox" id="{{ gender.gender }}" name="gender" value="{{ client.gender }}"></td>
                            <td><label for="{{ gender.gender }}">{{ gender.gender }}</label></td>
                            <td><input type="text" id="gender_othertext" name="gender_othertext" value="{{ gender.gender }}">{{ client.gender }}</td>
                            <td><label for="gender_othertext">if other, please state</label></td>
                          </tr>
                        {% else %}
                          <tr>
                            <td><input type="checkbox" id="{{ gender.gender }}" name="gender" value="{{ gender.gender }}"></td>
                            <td><label for="{{ gender.gender }}">{{ gender.gender }}</label></td>
                            <td><input type="text" id="gender_othertext" name="gender_othertext"></td>
                            <td><label for="gender_othertext">if other, please state</label></td>
                          </tr>
                        {% endif %}
                      {% else %}
                        {% if gender.gender == client.gender %}
                          <tr>
                            <td><input type="checkbox" id="{{ gender.gender }}" name="gender" value="{{ client.gender }}"></td>
                            <td><label for="{{ gender.gender }}">{{ gender.gender }}</label></td>
                          </tr>
                        {% else %}
                          <tr>
                            <td><input type="checkbox" id="{{ gender.gender }}" name="gender" value="{{ gender.gender }}"></td>
                            <td><label for="{{ gender.gender }}">{{ gender.gender }}</label></td>
                          </tr>
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    <tr><td>&nbsp</td></tr>
                  </table>
                </fieldset>
                <hr>

              <fieldset>
                <legend>Card Detail and Approvals</legend>+.

                <table class="input-table">

                  <tr>
                    <td><input type="checkbox" id="replacementID" name="replacementID" value="yes"></td>
                    <td><label for="replacementID">Replacement ID</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="tpID" name="tpID" value="yes"></td>
                    <td><label for="tpID">Turning Points ID</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="updateID" name="updateID" value="yes"></td>
                    <td><label for="updateID">Update Turning Points ID</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="bike" name="bike" value="yes"></td>
                    <td><label for="bike">New Bike Request</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="bike_repair" name="bike_repair" value="yes"></td>
                    <td><label for="bike_repair">Bike Repair</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="backpack" name="backpack" value="yes"></td>
                    <td><label for="backpack">Backpack Request</label></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" id="bus_pass" name="bus_pass" value="yes"></td>
                    <td><label for="bus_pass">Bus Pass Request</label></td>
                    </tr>

                  <tr>
                    <td colspan="4"><button type="button" id="approvals" name="approvals" class="btn btn-primary">Issue Approvals</button></td>
                    <td colspan="4"><button type="button" id="card-detail" name="card-detail" class="btn btn-primary">Print Card Detail</button></td>
                  </tr>

                </table>
              </fieldset>
              <hr>

              <fieldset>
                <legend>Household Information</legend><p>Please list this information for all other individuals in your home</legend>

                <div id="display">
                  <table class="input-table">
                    <thead>
                      <tr>
                        <th>Full Name</th>
                        <th>SSN</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Relationship to you</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" id="HHname" name="HHname" class="form-control"></td>
                        <td><input type="text" id="HHssn" name="HHssn" class="form-control"></td>
                        <td><input type="date" id="HHdob" name="HHdob" class="form-control"></td>
                        <td><input type="text" id="HHgender" name="HHgender" class="form-control"></td>
                        <td><input type="text" id="HHrelationship" name="HHrelationship" class="form-control"></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
              </fieldset>
              <hr>

                <fieldset>
                <legend>Help us understand your situation</legend>
                <table class="input-table">
                  <tr><td>Are your kids registered in school?</td>
                    <div class="radio-block">
                    <td><label for="schoolYes">
                    <input type="radio" id="schoolYes" name="school" value="yes" required>
                    Yes</label></td>
                    <td><label for="schoolNo">
                    <input type="radio" id="schoolNo" name="school" value="no" required>
                    No</label></td>
                    <td><label for="schoolNA">
                      <input type="radio" id="schoolNA" name="school" value="no kids" required>
                      No kids</label></td>
                      </div>
                  </tr>
                  <tr><td>Are you unhoused?</td>
                    <div class="radio-block">
                    <td><label for="unhousedYes">
                    <input type="radio" id="unhousedYes" name="unhoused" value="yes" required>
                    Yes</label></td>
                    <td><label for="unhousedNo">
                    <input type="radio" id="unhousedNo" name="unhoused" value="no" required>
                    No</label></td>
                    </div>
                  </tr>
                  </table>
                  </fieldset>

                  <fieldset id="homelessDisplay">
                    <table id="intake-detail" class="input-table">
                    <div class="radio-block">
                          <tr><td><input type="radio" name="homeless_time_id" id="htimeOp0" value="0" hidden checked></td></tr>
                          <tr>
                          <td><td>If yes, for how long?</td></td>
                          <td><label for="htimeOp1">
                          <input type="radio" name="homeless_time_id" id="htimeOp1" value="1" required>
                          Less than 90 days</label></td>
                          <td><label for="htimeOp2">
                          <input type="radio" name="homeless_time_id" id="htimeOp2" value="2">
                          Between 4 months and 1 year</label></td>
                          <td><label for="htimeOp3">
                          <input type="radio" name="homeless_time_id" id="htimeOp3" value="3">
                          Longer than 1 year</label></td>
                        </tr>
                    </div>
                    </table>
                    </fieldset>
                    <hr>

                    <fieldset>
                      <table class="input-table">
                        <tr><td>Where did you sleep last night?</td>
                          <td colspan="2"><input type="text" id="sleep" name="sleep" class="form-control"></td>
                        </tr>
                        <tr><td>Do you feel safe?</td>
                          <div class="radio-block">
                          <td><label for="safeYes">
                          <input type="radio" id="safeYes" name="safe" value="yes" required>
                          Yes</label></td>
                          <td><label for="safeNo">
                          <input type="radio" id="safeNo" name="safe" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you have enough food each month?</td>
                          <div class="radio-block">
                          <td><label for="foodYes">
                          <input type="radio" id="foodYes" name="food" value="no" required>
                          Yes</label></td>
                          <td><label for="foodNo">
                          <input type="radio" id="foodNo" name="food" value="yes">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you receive SNAP benefits/food stamps?</td>
                          <div class="radio-block">
                          <td><label for="snapYes">
                          <input type="radio" id="snapYes" name="snap" value="yes" required>
                          Yes</label></td>
                          <td><label for="snapNo">
                          <input type="radio" id="snapNo" name="snap" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you have medical/health insurance (including Medicare or Medicaid)?</td>
                          <div class="radio-block">
                          <td><label for="insuranceYes">
                          <input type="radio" id="insuranceYes" name="insurance" value="yes" required>
                          Yes</label></td>
                          <td><label for="insuranceNo">
                          <input type="radio" id="insuranceNo" name="insurance" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you have any urgent health concerns?</td>
                          <div class="radio-block">
                          <td><label for="unhealthYes">
                          <input type="radio" id="unhealthYes" name="unhealth" value="yes" required>
                          Yes</label></td>
                          <td><label for="unhealthNo">
                          <input type="radio" id="unhealthNo" name="unhealth" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Are there any mental health services you feel you need?</td>
                          <div class="radio-block">
                          <td><label for="mentalhealthYes">
                          <input type="radio" id="mentalhealthYes" name="mentalhealth" value="yes" required>
                          Yes</label></td>
                          <td><label for="mentalhealthNo">
                          <input type="radio" id="mentalhealthNo" name="mentalhealth" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Are there any substance use or addiction services you feel you need?</td>
                          <div class="radio-block">
                          <td><label for="subabuseYes">
                          <input type="radio" id="subabuseYes" name="subabuse" value="yes" required>
                          Yes</label></td>
                          <td><label for="subabuseNo">
                          <input type="radio" id="subabuseNo" name="subabuse" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you currently have employment or other income?</td>
                          <div class="radio-block">
                          <td><label for="employmentYes">
                          <input type="radio" id="employmentYes" name="employment" value="yes" required>
                          Yes</label></td>
                          <td><label for="employmentNo">
                          <input type="radio" id="employmentNo" name="employment" value="no">
                          No</label></td>
                          </div>
                        </tr>
                        <tr><td>Do you have access to transportation?</td>
                          <div class="radio-block">
                          <td><label for="transportationYes">
                          <input type="radio" id="transportationYes" name="transportation" value="yes" required>
                          Yes</label></td>
                          <td><label for="transportationNo">
                          <input type="radio" id="transportationNo" name="transportation" value="no">
                          No</label></td>
                          </div>
                          <td><td>If yes, what kind?</td></td>
                            <td colspan="0"><input type="text" id="transportation_type" name="transportation_type" class="form-control">
                            </td>
                        </tr>
                        <tr>
                          <td>How did you hear about Turning Points?</td>
                          <td colspan="4"><input type="text" id="hear_about" name="hear_about" class="form-control">
                          </td>
                        </tr>
                        <tr><td colspan="6">Anything else you want us to know about your situation?</td></tr>
                            <tr><td colspan="6"><textarea rows="3" cols="60" id="more" name="more" class="form-control"></textarea>
                            </td></tr>
                        </tr>

                        </table>
                      </fieldset>
                <hr>

                  <fieldset>
                    <legend>Turning Points Service Requests</legend>
                    <br>
                    <table class="input-table">
                    {% for service in services %}
                      <tr>
                      <td><input type="checkbox" id="{{service.service_name}}" name="{{service.service_name}}" value={{service.id}}></td>
                      <td><label for="{{service.service_name}}">{{service.service_name}}</label></td>
                      </tr>
                      {% endfor %}
                      <tr><td>&nbsp</td></tr>
                    </table>
                  </fieldset>

                  <hr>

                    <fieldset>
                      <legend>Special circumstance?</legend>
                      <p>(Do not ask if not freely offered)</p>
                      <table class="input-table">
                      <div class="radio-block">
                        <tr><td><label for="specialOp0">
                          <input type="radio" id="specialOp0" name="special" value="n/a" checked required>
                          NA</label></td></tr>
                          <tr><td><label for="specialOp1">
                          <input type="radio" id="specialOp1" name="special" value="Undocumented">
                          Undocumented</label></td></tr>
                          <tr><td><label for="specialOp2">
                          <input type="radio" id="specialOp2" name="special" value="On probation">
                          On probation</label></td></tr>
                          <tr><td><label for="specialOp3">
                          <input type="radio" id="specialOp3" name="special" value="Recently released">
                          Recently released</label></td></tr>
                      </div>
                      </table>
                      </fieldset>
                      <hr>

                <p><label for="comments">Additional notes</label></p>
                <p><textarea id="comments" name="comments" rows="5"></textarea></p>
                <br>
                <p><label for="comments">Client Signature</label></p>
                <p><textarea id="comments" name="comments" rows="5"></textarea></p>

              <div>
                <p>
                <button type="submit" id="log" class="btn btn-primary">Submit</button>
                <button class="btn btn-primary" type="reset">Reset</button>
              </p>
              </div>

          </form>
        {% endif %}
      {% endfor %}
    </div>

      <br>

  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          document.getElementById("date").valueAsDate = new Date();
      });
  </script>

<script>

    function csisSearch() {

          var firstname = document.getElementById('firstname').value;
          console.log(firstname);
          var middlename = document.getElementById('middlename').value;
          var lastname = document.getElementById('lastname').value;
          var dob = document.getElementById('DOB').value;
          console.log(dob);
          var ssn = document.getElementById('SSN').value;
          console.log(ssn);

          $.ajax({
              type: "POST",
              url: "/csis_search",
              data: {
                  'firstname': firstname,
                  'middlename': middlename,
                  'lastname': lastname,
                  'dob': dob,
                  'ssn': ssn
              },
              success: function(result) {
                  alert('ok');

              },
              error: function(result) {
                  alert('error');

          }
        });
        return false;
      }
  </script>

  <script>
    $(function () {
          $( "#csis-display" ).click(function() {
            window.open("/show_csis", "CSIS", "popup");
          });
        });
    </script>

    <script>
        $('input[type=radio][name="county"]').change(function() {
          console.log($(this).val())
          if($(this).val() == 'yes') {
            $("#manateeDisplay").show();
        } else {
            $("#manateeDisplay").hide();
        }
      });
    </script>
      <script>
          $('input[type=radio][name="unhoused"]').change(function() {
            console.log($(this).val())
            if($(this).val() == 'yes') {
              $("#homelessDisplay").show();
          } else {
              $("#homelessDisplay").hide();
          }
        });
      </script>

<script>
  var input = document.getElementById('firstname');

  input.oninvalid = function(event) {
	event.target.setCustomValidity('Username should only contain lowercase letters. e.g. john');
}
</script>

{% endblock %}
